<section class="section section-features" id="features" aria-label="平台特色">
  <div class="features-inner">
    <div class="features-grid">

      <article class="feature-tile theme-dark">
        <a class="tile-link" href="#articles" aria-hidden="true" tabindex="-1">探索文章</a>
        <div class="tile-content">
          <h2 class="feature-title">高效能架構</h2>
          <p class="feature-desc">
            基於 Django 框架，ORM 驅動的資料層設計，
            讓內容管理既安全又高效。
          </p>
        </div>
        <div class="feature-image-wrapper">
          <picture>
            <source
              srcset="https://www.apple.com/v/iphone-17-pro/g/images/overview/highlights/highlights_chip_endframe__d06u2zxywxme_small.jpg,
                      https://www.apple.com/v/iphone-17-pro/g/images/overview/highlights/highlights_chip_endframe__d06u2zxywxme_small_2x.jpg 2x"
              media="(max-width:734px)" />
            <source
              srcset="https://www.apple.com/v/iphone-17-pro/g/images/overview/highlights/highlights_chip_endframe__d06u2zxywxme_large.jpg,
                      https://www.apple.com/v/iphone-17-pro/g/images/overview/highlights/highlights_chip_endframe__d06u2zxywxme_large_2x.jpg 2x"
              media="(min-width:0px)" />
            <img
              src="https://www.apple.com/v/iphone-17-pro/g/images/overview/highlights/highlights_chip_endframe__d06u2zxywxme_large.jpg"
              alt="高效能架構" />
          </picture>
        </div>
        <a class="feature-cta" href="#articles">了解更多 ›</a>
      </article>

      <article class="feature-tile theme-dark">
        <a class="tile-link" href="/admin/" aria-hidden="true" tabindex="-1">管理後台</a>
        <div class="tile-content">
          <h2 class="feature-title">強大後台管理</h2>
          <p class="feature-desc">
            內建 Django Admin，無需額外開發即可
            發布、編輯與管理所有文章內容。
          </p>
        </div>
        <div class="feature-image-wrapper">
          <picture>
            <source
              srcset="https://www.apple.com/v/iphone-17-pro/g/images/overview/highlights/highlights_design_endframe__eu8gj0kqlmoi_small.jpg,
                      https://www.apple.com/v/iphone-17-pro/g/images/overview/highlights/highlights_design_endframe__eu8gj0kqlmoi_small_2x.jpg 2x"
              media="(max-width:734px)" />
            <source
              srcset="https://www.apple.com/v/iphone-17-pro/g/images/overview/highlights/highlights_design_endframe__eu8gj0kqlmoi_large.jpg,
                      https://www.apple.com/v/iphone-17-pro/g/images/overview/highlights/highlights_design_endframe__eu8gj0kqlmoi_large_2x.jpg 2x"
              media="(min-width:0px)" />
            <img
              src="https://www.apple.com/v/iphone-17-pro/g/images/overview/highlights/highlights_design_endframe__eu8gj0kqlmoi_large.jpg"
              alt="強大後台管理" />
          </picture>
        </div>
        <a class="feature-cta" href="/admin/">進入後台 ›</a>
      </article>

      <article class="feature-tile theme-dark">
        <a class="tile-link" href="#" aria-hidden="true" tabindex="-1">Markdown 支援</a>
        <div class="tile-content">
          <h2 class="feature-title">Markdown 撰寫</h2>
          <p class="feature-desc">
            支援 Markdown 語法，專注於內容創作，
            讓技術文章排版更加輕鬆自如。
          </p>
        </div>
        <div class="feature-image-wrapper">
          <picture>
            <source
              srcset="https://www.apple.com/v/iphone-17-pro/g/images/overview/highlights/highlights_zoom_endframe__dyqkn2swjbsm_small.jpg,
                      https://www.apple.com/v/iphone-17-pro/g/images/overview/highlights/highlights_zoom_endframe__dyqkn2swjbsm_small_2x.jpg 2x"
              media="(max-width:734px)" />
            <source
              srcset="https://www.apple.com/v/iphone-17-pro/g/images/overview/highlights/highlights_zoom_endframe__dyqkn2swjbsm_large.jpg,
                      https://www.apple.com/v/iphone-17-pro/g/images/overview/highlights/highlights_zoom_endframe__dyqkn2swjbsm_large_2x.jpg 2x"
              media="(min-width:0px)" />
            <img
              src="https://www.apple.com/v/iphone-17-pro/g/images/overview/highlights/highlights_zoom_endframe__dyqkn2swjbsm_large.jpg"
              alt="Markdown 撰寫" />
          </picture>
        </div>
        <a class="feature-cta" href="#">了解更多 ›</a>
      </article>

    </div>
  </div>
</section>
