<section class="section section-hero" aria-label="主要推薦">
  <div class="tile-wrapper theme-dark" data-tile-id="hero">

    <a class="tile-link"
       href="#articles"
       data-analytics-region="learn more"
       aria-hidden="true"
       tabindex="-1">了解更多</a>

    <div class="tile-content">
      <div class="tile-copy-wrapper">
        <p class="tile-eyebrow">全新上線</p>
        <h1 class="tile-headline">DjangoBlog</h1>
        <p class="tile-subheadline">
          用 Django 打造的現代化部落格平台。<br>
          優雅、快速、專為開發者而生。
        </p>
      </div>
      <div class="tile-ctas">
        <a class="button" href="#articles">閱讀文章</a>
        <a class="button button-secondary" href="/admin/">開始撰寫</a>
      </div>
    </div>

    <!-- Apple CDN：iPhone 17 Pro 首頁 Hero 圖 -->
    <div class="tile-image-wrapper">
      <picture>
        <source
          srcset="https://www.apple.com/v/home/images/iphone-17-pro/a/hero_iphone_17_pro__dbaaq3mt8u2q_small.jpg,
                  https://www.apple.com/v/home/images/iphone-17-pro/a/hero_iphone_17_pro__dbaaq3mt8u2q_small_2x.jpg 2x"
          media="(max-width:734px)" />
        <source
          srcset="https://www.apple.com/v/home/images/iphone-17-pro/a/hero_iphone_17_pro__dbaaq3mt8u2q_mediumtall.jpg,
                  https://www.apple.com/v/home/images/iphone-17-pro/a/hero_iphone_17_pro__dbaaq3mt8u2q_mediumtall_2x.jpg 2x"
          media="(max-width:1068px) and (min-height:734px)" />
        <source
          srcset="https://www.apple.com/v/home/images/iphone-17-pro/a/hero_iphone_17_pro__dbaaq3mt8u2q_medium.jpg,
                  https://www.apple.com/v/home/images/iphone-17-pro/a/hero_iphone_17_pro__dbaaq3mt8u2q_medium_2x.jpg 2x"
          media="(max-width:1068px) and (max-height:733px)" />
        <source
          srcset="https://www.apple.com/v/home/images/iphone-17-pro/a/hero_iphone_17_pro__dbaaq3mt8u2q_largetall.jpg,
                  https://www.apple.com/v/home/images/iphone-17-pro/a/hero_iphone_17_pro__dbaaq3mt8u2q_largetall_2x.jpg 2x"
          media="(min-width:0px) and (min-height:776px)" />
        <source
          srcset="https://www.apple.com/v/home/images/iphone-17-pro/a/hero_iphone_17_pro__dbaaq3mt8u2q_large.jpg,
                  https://www.apple.com/v/home/images/iphone-17-pro/a/hero_iphone_17_pro__dbaaq3mt8u2q_large_2x.jpg 2x"
          media="(min-width:0px) and (max-height:775px)" />
        <img
          src="https://www.apple.com/v/home/images/iphone-17-pro/a/hero_iphone_17_pro__dbaaq3mt8u2q_large.jpg"
          alt="產品展示圖" />
      </picture>
    </div>

  </div>
</section>
